# Dependencies
node_modules/

# Build output
dist/
out-tsc/

# Angular cache
.angular/

# Environment files
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db